body {
  text-align: center;
  background-color: #011F3F;
}

.row {
  margin: auto;
  width: 50%;
}
.game-button {
  font-size: 6rem;
  color: #fff;
  border-color: #000;
  border-radius: 10%;
  border-width: 5px;
  padding: 3%;
  width: 40%;
}

#blue {
  background-color: #00f;
}

#red {
  background-color: #f00;

}
