body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.start-button {
  border-color: #000;
  border-radius: 20%;
  border-width: 10px;
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  padding: 1%;

}

.row {
  margin: auto;
}

.game-button {
  color: #000;
  border-color: #000;
  border-radius: 10%;
  border-width: 10px;
  height: 250px;
  margin: 10px;
  width: 250px
}

#blue {
  background-color: #00f;
}

#red {
  background-color: #f00;
}

#green {
  background-color: #0f0;
}

#yellow {
  background-color: #ff0;
}
