body {
  text-align: center;
  background-color: #011F3F;
}

.row {
  margin: auto;
}

.game-button {
  font-size: 8rem;
  color: #000;
  border-color: #000;
  border-radius: 10%;
  border-width: 10px;
  height: 250px;
  margin: 10px;
  width: 250px
}

#blue {
  background-color: #00f;
}

#red {
  background-color: #f00;
}

#green {
  background-color: #0f0;
}

#yellow {
  background-color: #ff0;
}
